body{
  background: url(gymnew.jpg) no-repeat;
  background-size: cover;
}
.dropdown-menu .dropdown-item:hover {
  background-color: black;
  color: white;
}

.left img {
  width: 45%;
  max-width: 150px;
  filter: invert(100%);
}
.left div{
  font-weight: bolder;
  font-size: 20px;
}
.btn-dark{
  width:150px;
  height:45px;
}
.container {
  border: 2px solid white;
  margin: 15% 10%;
  padding: 10%;
  border-radius: 4vw;
}

.container h1 {
  text-align: center;
  color:azure;
  font-size: 6vw;
}

.container button {
  display:block;;
  background-color: gray;
  width: 60%;
  margin: 5% auto;
  font-size: 3vw;
}
.container button:hover {
  background-color: rgb(255, 255, 255);
}
    